@page
@model OdeToSpicyFood.ClientRestaurantModel
@*
*@

<div class="container">
    <h2 class="title-margins mb-sm-4">Alternate List</h2>
    <table class="table table-striped table-bordered" id="restaurants">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Cuisine</th>
                <th>Rating</th>
            </tr>
        </thead>
    </table>
    <a class="btn btn-dark mt-sm-4" asp-page="./List"><i class="fas fa-arrow-left pr-2"></i>Back</a>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/node_modules/datatables.net/js\jquery.dataTables.js"></script>
        <script src="~/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <link href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    </environment>

    
    <script src="~/js/ClientRestaurant.js"></script>
}