@page
@model OdeToSpicyFood.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<div class="container">
    <h1 class="mt-sm-4 mb-sm-4">List of Restaurants</h1>
    <div class="mb-sm-4">
        <a asp-page=".\Edit" class="btn btn-dark">Add New</a>
        <a asp-page=".\ClientRestaurant" class="btn btn-info">View Alternate List (jQuery)</a>
    </div>
       
    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" asp-for="SearchTerm" />
                <div class="input-group-append">
                    <button class="btn btn-secondary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex flex-row flex-wrap">
        @foreach (var restaurant in Model.Restaurants)
        {
            <partial name="_Summary" model="restaurant" />
        }
    </div>
    <div>
        <a asp-page=".\Edit" class="btn btn-dark">Add New</a>
        <a asp-page=".\ClientRestaurant" class="btn btn-info">View Alternate List (jQuery)</a>
    </div>
</div>