@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1 class="title-margins mb-4">@ViewData["Title"]</h1>
    <p>This website does not collect any personal information.</p>
</div>