@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1 class="mt-sm-4 mb-sm-4">@ViewData["Title"]</h1>
    <p>This website does not collect any personal information.</p>
</div>